<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SCHUMACHER APP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> HOME PAGE
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ALL EVENTS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bets">
                <span class="oi oi-list-rich" aria-hidden="true"></span> F1 BETS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="points">
                <span class="oi oi-list-rich" aria-hidden="true"></span> WBC POINTS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="f1qualifyingresults">
                <span class="oi oi-list-rich" aria-hidden="true"></span> QUALY RESULTS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="f1raceresults">
                <span class="oi oi-list-rich" aria-hidden="true"></span> RACE RESULTS
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
